button {
  width: 10em;
  height: 3.8em;
  border-radius: 5px;
  background: $bg-primary;
  color: $bg-third;
  font-weight: 700;
  font-size: 1.1em;
  cursor: pointer;
  border : none;
  @include sm {
    height : 2em;
  }

  &:hover,
  &:focus {
    background: $bg-secondary;
    color: black;
  }
}

select {
  width: 10em;
  height: 3.8em;
  border-radius: 5px;
  background: $bg-primary;
  color: $bg-third;
  font-weight: 700;
  font-size: 1.1em;
  padding-left: 0.5em;
  cursor: pointer;
  border : none;
  margin-left: 1em;

  option {
    width: 170px;
    height: 69px;
    border-radius: 5px;
    background: $bg-primary;
    color: $bg-third;
    border-top: 1px solid white;
    font-weight: 700;
    padding: 2em;
    cursor: pointer;
  }
}
