#photoFeed {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;

  article {
    width: 21em;
    margin: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $font-secondary;

    .thePhoto {
      width: 100%;
      height: 18em;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
    }
    video {
      object-fit: cover;
    }

    .photoInfos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 5vh;
      width: 100%;
      .photoName {
        width: 65%;
      }

      .photoStats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 35%;
        .photoLikesandH{
          width: 35%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor : pointer;
          @include sm {
            width :45%;
          }
          
        }

        .heart {
          margin-left: -1.3em;
          width: 0.8em;
          height: 0.8em;
          cursor: pointer;
        }
      }
    }
  }
}
