@font-face {
  font-family: "DMSans";
  src: url("./fonts/DMSans/DMSans-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DMSans", sans-serif;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  width: 10em;
  height: 3.8em;
  border-radius: 5px;
  background: #901C1C;
  color: #FAFAFA;
  font-weight: 700;
  font-size: 1.1em;
  cursor: pointer;
  border: none;
}
button:hover, button:focus {
  background: #D3573C;
  color: black;
}

select {
  width: 10em;
  height: 3.8em;
  border-radius: 5px;
  background: #901C1C;
  color: #FAFAFA;
  font-weight: 700;
  font-size: 1.1em;
  padding-left: 0.5em;
  cursor: pointer;
  border: none;
}
select option {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background: #901C1C;
  color: #FAFAFA;
  border-top: 1px solid white;
  font-weight: 700;
  padding: 2em;
  cursor: pointer;
}

.tagLinks {
  height: 22px;
  border: 0.5px solid #525252;
  border-radius: 11px;
  background: #FAFAFA;
  color: #901C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0.5em;
  cursor: pointer;
}
.tagLinks:hover, .tagLinks:focus {
  background: #901C1C;
  color: #FAFAFA;
}

.tagUl {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tagUl li {
  margin: 0.1em;
}

#photoFeed {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}
#photoFeed article {
  width: 21em;
  margin: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #901C1C;
}
#photoFeed article .thePhoto {
  width: 100%;
  height: 18em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#photoFeed article .photoInfos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100%;
}
#photoFeed article .photoInfos .photoStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 35%;
}
#photoFeed article .photoInfos .photoStats .heart {
  width: 1em;
  height: 1em;
}

#likesAndPrice {
  position: fixed;
  bottom: 0;
  right: 1em;
  background: #D3573C;
  padding: 0.5em;
}

#formModal {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#formModal .formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 50vh;
  background: #D3573C;
  padding: 1em 2em 2em;
}
#formModal .formDiv header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.8em;
}
#formModal .formDiv header h1 {
  padding: 0 1em 1em 0;
}
#formModal .formDiv header span {
  color: white;
  cursor: pointer;
  font-size: 2em;
}
#formModal .formDiv form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#formModal .formDiv form .artistFormGroup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 1.25em;
  font-weight: 400;
}
#formModal .formDiv form .artistFormGroup input,
#formModal .formDiv form .artistFormGroup textarea {
  width: 100%;
  margin-bottom: 1.5em;
  height: 3.5em;
  padding: 0.5em;
}
#formModal .formDiv form .artistFormGroup textarea {
  min-height: 9em;
}
#formModal .formDiv form button {
  align-self: flex-start;
  height: 3.8em;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  min-height: 8vh;
}
header img {
  position: absolute;
  left: 5em;
  top: 2em;
}
header .contentNav .tagUl {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
header .goContent {
  background: #D3573C;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  position: fixed;
  top: 0.5em;
  right: 40%;
  cursor: pointer;
}

#lightBox {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#lightBox .lightSpace {
  position: relative;
  padding: 0.6em 2em;
  width: 80%;
  height: 80vh;
}
#lightBox .lightSpace span {
  position: absolute;
  color: #901C1C;
  font-size: 2em;
}
#lightBox .lightSpace #closeLightBox {
  right: 1em;
  top: 1em;
}
#lightBox .lightSpace #rightSpan {
  right: 1em;
  top: 49%;
}
#lightBox .lightSpace #leftSpan {
  left: 1em;
  top: 49%;
}
#lightBox .lightSpace #lightImg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}

.homeView {
  width: 27vw;
  margin: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeView h2 {
  font-size: 2.25rem;
  color: #D3573C;
  font-weight: 400;
}
.homeView .divPortrait {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeView .divPortrait .homePhotoImg {
  width: 25vh;
  height: 25vh;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homeView .divPortrait p {
  color: #901C1C;
  font-size: 0.82rem;
}
.homeView .staticTextDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
}
.homeView .staticTextDiv p {
  font-size: 0.62rem;
}
.homeView .staticTextDiv .price {
  color: #525252;
}
.homeView .tagUl {
  display: flex;
  flex-wrap: wrap;
}

#photographerBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FAFAFA;
  padding: 2.5em;
  width: 100%;
}
#photographerBanner .leftBanner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#photographerBanner .leftBanner .photographerResume {
  padding-right: 2em;
}
#photographerBanner .leftBanner .photographerResume h1 {
  font-size: 3em;
  color: #D3573C;
  font-weight: 400;
}
#photographerBanner .leftBanner .photographerResume p {
  font-weight: 400;
  margin-bottom: 1em;
}
#photographerBanner .leftBanner .photographerResume #phFrom {
  font-size: 1.4em;
  color: #901C1C;
}
#photographerBanner .leftBanner .photographerResume #phSentence {
  margin-bottom: 1em;
}
#photographerBanner .leftBanner ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#photographerBanner #photographerImg {
  width: 25vh;
  height: 25vh;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#portfolio .sortBy {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 1.1em;
}
#portfolio .sortBy p {
  padding-right: 1em;
}

/*# sourceMappingURL=style.css.map */
