@font-face {
  font-family: "DMSans";
  src: url("./fonts/DMSans/DMSans-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DMSans", sans-serif;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  width: 10em;
  height: 3.8em;
  border-radius: 5px;
  background: #901c1c;
  color: #fafafa;
  font-weight: 700;
  font-size: 1.1em;
  cursor: pointer;
  border: none;
}
@media (max-width: 576px) {
  button {
    height: 2em;
  }
}
button:hover, button:focus {
  background: #d3573c;
  color: black;
}

select {
  width: 10em;
  height: 3.8em;
  border-radius: 5px;
  background: #901c1c;
  color: #fafafa;
  font-weight: 700;
  font-size: 1.1em;
  padding-left: 0.5em;
  cursor: pointer;
  border: none;
}
select option {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background: #901c1c;
  color: #fafafa;
  border-top: 1px solid white;
  font-weight: 700;
  padding: 2em;
  cursor: pointer;
}

.tagLinks {
  height: 22px;
  border: 0.5px solid #525252;
  border-radius: 11px;
  background: #fafafa;
  color: #901c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em 0.5em;
  cursor: pointer;
}
@media (max-width: 576px) {
  .tagLinks {
    font-size: 0.9em;
  }
}
.tagLinks:hover, .tagLinks:focus {
  background: #901c1c;
  color: #fafafa;
}

.tagUl {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tagUl li {
  margin: 0.1em;
}

#photoFeed {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}
#photoFeed article {
  width: 21em;
  margin: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #901c1c;
}
#photoFeed article .thePhoto {
  width: 100%;
  height: 18em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
#photoFeed article video {
  object-fit: cover;
}
#photoFeed article .photoInfos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  width: 100%;
}
#photoFeed article .photoInfos .photoName {
  width: 65%;
}
#photoFeed article .photoInfos .photoStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 35%;
}
#photoFeed article .photoInfos .photoStats .heart {
  margin-left: -1.3em;
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
}

#likesAndPrice {
  position: fixed;
  bottom: 0;
  right: 1em;
  background: #d3573c;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  #likesAndPrice {
    display: none;
  }
}
#likesAndPrice .likesTotal {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0.1em 2em 0 0;
}
#likesAndPrice .likesTotal img {
  height: 0.8em;
  width: 0.8em;
  margin-left: 0.4em;
}

#formModal {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#formModal .formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 50vh;
  background: #d3573c;
  padding: 1em 2em 2em;
}
#formModal .formDiv header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.5em;
  position: relative;
}
#formModal .formDiv header h1 {
  padding: 0 1em 1em 0;
}
#formModal .formDiv header span {
  color: white;
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  top: 0;
  right: 0;
}
#formModal .formDiv form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#formModal .formDiv form .artistFormGroup {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 1.25em;
  font-weight: 400;
}
#formModal .formDiv form .artistFormGroup input,
#formModal .formDiv form .artistFormGroup textarea {
  width: 100%;
  margin-bottom: 1.5em;
  height: 3.5em;
  padding: 0.5em;
}
#formModal .formDiv form .artistFormGroup textarea {
  min-height: 9em;
}
#formModal .formDiv form button {
  align-self: flex-start;
  height: 3.8em;
}

header {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 8vh;
  padding: 1em 1em;
}
@media (max-width: 576px) {
  header {
    padding: 0;
  }
}
header .logo {
  padding: 1em;
  align-self: baseline;
}
@media (max-width: 576px) {
  header .logo img {
    height: 2.3em;
  }
}
header .contentNav .tagUl {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  justify-self: center;
}
@media (max-width: 576px) {
  header .contentNav .tagUl {
    width: 100%;
  }
}
header .goContent {
  background: #d3573c;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
@media (max-width: 576px) {
  header .goContent {
    display: none;
  }
}

#lightBox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: white;
  z-index: 50;
}
#lightBox .lightSpace {
  position: relative;
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#lightBox .lightSpace span {
  position: absolute;
  color: #901c1c;
  font-size: 2em;
  cursor: pointer;
}
#lightBox .lightSpace #closeLightBox {
  right: 0;
  top: 8%;
  font-size: 3em;
}
@media (max-width: 576px) {
  #lightBox .lightSpace #closeLightBox {
    font-size: 2em;
  }
}
#lightBox .lightSpace #rightSpan {
  right: 0;
  top: 49%;
}
#lightBox .lightSpace #leftSpan {
  left: 0;
  top: 49%;
}
#lightBox .lightSpace .lightImg img {
  object-fit: contain;
  max-width: 70vw;
  max-height: 70vh;
}
#lightBox .lightSpace .lightName {
  align-self: flex-start;
  color: #901c1c;
  font-size: 1.4em;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}

#index h1 {
  position: absolute;
  top: 0.8em;
  right: 2em;
  font-size: 2.5em;
  color: #901c1c;
  font-weight: 400;
}
@media (max-width: 576px) {
  #index h1 {
    font-size: 1.1em;
    top: 1.6em;
    right: 1em;
  }
}

.homeView {
  width: 27vw;
  margin: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 576px) {
  .homeView {
    width: 100%;
  }
}
.homeView h2 {
  font-size: 2.1rem;
  color: #d3573c;
  font-weight: 400;
}
.homeView p {
  color: #901c1c;
  font-size: 1.05em;
}
.homeView .sentence {
  color: black;
  font-size: 0.9em;
}
.homeView .divPortrait {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeView .divPortrait .homePhotoImg {
  width: 25vh;
  height: 25vh;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1em;
}
.homeView .staticTextDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
}
.homeView .staticTextDiv .price {
  color: #525252;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}
.homeView .tagUl {
  display: flex;
  flex-wrap: wrap;
}

#photographerBanner {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: #fafafa;
  padding: 2.5em;
  width: 100%;
}
@media (max-width: 576px) {
  #photographerBanner {
    padding: 0;
    flex-wrap: nowrap;
    position: relative;
  }
}
#photographerBanner .leftBanner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 75%;
}
#photographerBanner .leftBanner .photographerResume {
  padding-right: 2em;
}
@media (max-width: 576px) {
  #photographerBanner .leftBanner .photographerResume {
    padding: 0;
  }
}
#photographerBanner .leftBanner .photographerResume h1 {
  font-size: 3em;
  color: #d3573c;
  font-weight: 400;
}
@media (max-width: 576px) {
  #photographerBanner .leftBanner .photographerResume h1 {
    font-size: 1.9em;
  }
}
#photographerBanner .leftBanner .photographerResume p {
  font-weight: 400;
  margin-bottom: 0.6em;
}
#photographerBanner .leftBanner .photographerResume #phFrom {
  font-size: 1.4em;
  color: #901c1c;
}
@media (max-width: 576px) {
  #photographerBanner .leftBanner .photographerResume #phFrom {
    font-size: 1em;
  }
}
#photographerBanner .leftBanner .photographerResume #phSentence {
  margin-bottom: 1em;
}
@media (max-width: 576px) {
  #photographerBanner .leftBanner .photographerResume #phSentence {
    font-size: 0.8em;
  }
}
#photographerBanner .leftBanner ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
@media (max-width: 576px) {
  #photographerBanner .leftBanner ul .taglinks {
    font-size: 0.6em;
  }
}
#photographerBanner #photographerImg {
  width: 25vh;
  height: 25vh;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 576px) {
  #photographerBanner #photographerImg {
    height: 13vh;
    width: 13vh;
    position: absolute;
    top: -0.1em;
    right: 0.1em;
  }
}

#portfolio .sortBy {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  font-size: 1.1em;
}
@media (max-width: 576px) {
  #portfolio .sortBy {
    display: none;
  }
}
#portfolio .sortBy p {
  padding-right: 1em;
}

@media (max-width: 576px) {
  #contactMe {
    position: fixed;
    bottom: 3em;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
  }
}

/*# sourceMappingURL=style.css.map */
