#formModal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    @include sm {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 100;
    }
    .formDiv {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 90%;
        min-width: 50vh;
        width: 60vh;
       background: $bg-secondary;
        padding: 1em 2em ;
        @include sm {
            font-size: 1em;
            height : 100%;
            padding: 1em 2em ;
        }

        header {                    
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            font-size: 1.5em;
            position: relative;
            font-weight: 400;
            @include sm {
                font-size: 1em;
            }
            h1 {
                padding: 0 1em 1em 0;
                font-size: 1.5em;
            
    
            }
            span {
                color: white;
                cursor: pointer;
                font-size: 1.5em;
                position: absolute;
                top: -0.2em;
                right: 0;
                @include sm {
                    font-size: 2em;
                }
            }
        }
        form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .artistFormGroup {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                font-size: 1.2em;
                font-weight: 400;
                input,
                textarea {
                    width: 100%;
                    margin-bottom: 0.3em;
                    height: 2.4em;
                    padding: 0.5em;
                    @include sm {
                        font-size: 1em;
                        height : 2em;
                    }
                }
                textarea {
                    min-height: 10em;
                    @include sm {
                        font-size: 1em;
                        min-height : 8em;
                    }
        
                }
            }
            button {
                align-self: flex-start;
                height: 3.8em;
            }
        }
    }
}


.formError {
    display: none;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    padding : 0 0.2em;
    color : white;
    background : #901c1c;
}