#formModal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    @include sm {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 100;
    }
    .formDiv {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 90%;
        min-width: 50vh;
        width: 60vh;
        background: $bg-secondary;
        padding: 2em 2em 4em;
        header {                    
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            font-size: 1.5em;
            position: relative;
            font-weight: 400;
            h1 {
                padding: 0 1em 1em 0;
            }
            span {
                color: white;
                cursor: pointer;
                font-size: 1.5em;
                position: absolute;
                top: -0.2em;
                right: 0;
            }
        }
        form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .artistFormGroup {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                font-size: 1.25em;
                font-weight: 400;
                input,
                textarea {
                    width: 100%;
                    margin-bottom: 1.5em;
                    height: 3.5em;
                    padding: 0.5em;
                }
                textarea {
                    min-height: 12em;
                }
            }
            button {
                align-self: flex-start;
                height: 3.8em;
            }
        }
    }
}
