#lightBox {
  position: fixed;
  top : 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: white;
  z-index: 50;

  .lightSpace {
    position: relative;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span {
      position: absolute;
      color: $font-secondary;
      font-size: 2em;
      cursor: pointer;
    }
    #closeLightBox {
      right: 0;
      top: 8%;
      font-size: 3em;
      @include sm {
        font-size: 2em;
        right : -15px;
      }
    }
    #rightSpan {
      font-size: 4em;
      right: 0;
      top: 49%;
      @include sm {
        right : -20px;
      }
    }
    #leftSpan {
      font-size: 4em;

      left: 0;
      top: 49%;
      @include sm {
        left : -20px;
      }
      
    }
    .lightMedia {
      img {
        object-fit: contain;
        max-width: 70vw;
        max-height: 70vh;
      }
      video {
        object-fit: contain;
        max-width: 70vw;
        max-height: 70vh;
      }
      
     
    }
    .lightName {
      align-self: flex-start;
      color : $font-secondary;
      font-size: 1.4em;
    }
  }
}
