@font-face {
    font-family: "DMSans";
    src: url("./fonts/DMSans/DMSans-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DMSans", sans-serif;
    &:focus{
        border: 1px solid #d3573c;
      outline :  4px solid #95FFF9;
    }
  
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hidden {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
}

