main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}


#index {
  h1 {
    position: absolute;
    top: 0.8em;
    right: 2em;
    font-size: 2.5em;
    color: $font-secondary;
    font-weight: 400;
    @include sm {
      font-size: 1.1em;
      top: 1.6em;
      right: 1em;
    }
  }
}

.homeView {
  width: 27vw;
  margin: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include sm {
    width: 100%;
  }

  h2 {
    font-size: 2.1rem;
    color: $font-primary;
    font-weight: 400;
  }

  p {
    color: $font-secondary;
    font-size: 1.05em;
  }

  .sentence {
    color: black;
    font-size: 0.9em;
  }

  .divPortrait {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .homePhotoImg {
      width: 25vh;
      height: 25vh;
      border-radius: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 1em;
    }
  }

  .staticTextDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;

    .price {
      color: $font-third;
      font-size: 0.9em;
      margin-bottom: 0.5em;
    }
  }

  .tagUl {
    display: flex;
    flex-wrap: wrap;
  }
}
