#photographerBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background : $bg-third;
    padding : 2.5em;
    width : 100%;

    .leftBanner {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      .photographerResume{
        padding-right : 2em;
      }

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    #photographerImg {
        width: 25vh;
        height : 25vh;
        border-radius: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    
}

#portfolio {
    .sortBy{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}